<html>
<body>
<h1>Paarungen</h1>

<style type="text/css">
    customers tr:nth-child(even){background-color: #f2f200;};
    customers tr:hover {background-color: #ddd;};
  </style>
  <a href="{{ build_absolute_uri }}">reset</a>
  {{ comparePerson }}

  <form method='post' action='/add-edit-user/'>
    {% csrf_token %}
  </form>
<table border="2">
    <tr>
        <th>Person A</th>
        <th>Person B</th>
        <th>Bisherige Vorkommen</th>
        <th>Wiederholung mit A</th>
        <th>Wiederholung mit B</th>
        <th>Betreuung</th>
    </tr>
    {% for entry in object_list %}
    <tr>
        <td>{% if comparePerson %}<a href="{% url 'raffle:change' %}?raffleID={{ pkID }}&compare={{ comparePerson.id }}&changewith={{ entry.personA.id }}">{% endif %}
            {{ entry.personA }}{%if showSum == '1' %} ({{ entry.personA.cleanings }})
            {% endif %}{% if comparePerson %}</a>{% endif %}
        </td>
        <td>{% if comparePerson %}<a href="{% url 'raffle:change' %}?raffleID={{ pkID }}&compare={{ comparePerson.id }}&changewith={{ entry.personB.id }}">{% endif %}
            {{ entry.personB }}{%if showSum == '1' %} ({{ entry.personB.cleanings }}){% endif %}
            {% if comparePerson %}</a>{% endif %}
        </td>
        <td>{{ entry.repeate }}</td>
        <td>{% if comparePerson == entry.personA %} --- {% else %}{{ entry.personA.repeate }}{% endif %}</td>
        <td>{{ entry.personB.repeate }}</td>
        <td>{{ entry.cleaning_task }}</td>
        <td><a href="{{ build_absolute_uri }}?compare={{ entry.personA.id }}">link</a></td>
        <td><a href="{{ build_absolute_uri }}?compare={{ entry.personB.id }}">link</a></td>
    </tr>
    {% endfor %}
</table>
</body>

</html>