<html>
<body>
<h1>Paarungen</h1>

<style type="text/css">
    customers tr:nth-child(even){background-color: #f2f200;};
    customers tr:hover {background-color: #ddd;};
  </style>
<table border="2">
    <tr>
        <th>Person A</th>
        <th>Person B</th>
        <th>Bisherige Vorkommen</th>
        <th>Betreuung</th>
    </tr>
    {% for entry in object_list %}
    <tr>
        <td>{{ entry.personA }}{%if showSum == '1' %} ({{ entry.personA.cleanings }}){% endif %}</td>
        <td>{{ entry.personB }}{%if showSum == '1' %} ({{ entry.personB.cleanings }}){% endif %}</td>
        <td>{{ entry.repeate }}</td>
        <td>{{ entry.cleaning_task }}</td>
    </tr>
    {% endfor %}
</table>
</body>

</html>